# Executables
*.cmd
git.exe
**/PortableGit/*
Misc\PortableGit\
misc\portablegit\
Misc/PortableGit/
misc/portablegit/

.\Misc\PortableGit\
.\misc\portablegit\
./Misc/PortableGit/
./misc/portablegit/

PortableGit
/Misc/PortableGit
/7_НаРусском.cmd
/*.cmd
/6_Switch_English.cmd
/5_ИгратьОнлайн_PlayOnline.cmd
/4_ИгратьОкно_PlayWindow.cmd
/3_Играть_Play.cmd
/1_DirectPlay.cmd
